.App {
  text-align: center;
  background-color: #192A32;
  font-family: outfit, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.fade-in-animation{
  animation: fade-in .3s;
}

.fade-away-animation{
  animation: fade-away .3s;
}

.slide-in-animation{
  animation: slide-in .3s;
}

.slide-out-animation{
  animation: slide-out .3s;
}

@keyframes fade-away {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to{
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes fade-in {
  from{
    opacity: 0;
    transform: translateY(10px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in {
  from{
    transform: translateY(100vh);
  }
  to{
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(100vh);
  }
}